.reveal ul {
  font-size: 32px;
}

.reveal pre code {
  font-size: 32px;
}

.reveal h1 {
  font-size: 64px;
  margin: 0 0 0 0;
  text-transform:none;
}

.reveal h2 {
  font-size: 48px;
  margin: 0 0 0 0;
  text-transform:none;
  color: #356490;/*文字色*/
  /*線の種類（点線）2px 線色*/
  border-bottom: dashed 2px #356490;
}


.reveal h3 {
  font-size: 36px;
  margin: 0 0 0 0;
  text-transform:none;
}
