.reveal ul {
  font-size: 32px;
  margin-left: 20;
  margin-right: 0;
}

.reveal li {
  margin-left:40px;
}

.reveal pre code {
  font-size: 32px;
}

.reveal h1 {
  font-size: 64px;
  margin: 0 0 0 0;
  text-transform:none;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.reveal h2 {
  font-size: 48px;
  margin: 0 0 0 0;
  text-transform:none;
  color: #356490;/*文字色*/
  /*線の種類（点線）2px 線色*/
  border-bottom: dashed 2px #356490;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}


.reveal h3 {
  font-size: 36px;
  margin: 0 0 0 0;
  text-transform:none;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
